* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

:root {
  --color-text-light: #f0f0f0;
  --color-text-dim: #a0a0a0;

  --gray: #1A1D23;
  --light-gray: #311a1a;
  --info: #335DA3;
  --yellow: #ebe72a;
  --white: #DADBDD;

  --green: #24AE5A;
  --orange: #f2994a;
  --red: #D45455;

  --padding-base: 20px;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--gray);
  color: var(--white);
  margin: 0;
  padding: 20px;
}

header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-text-dim);
}

h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

h2{
  color: #f0f0f0;
  font-size: 1.1rem;
  border-bottom: 1px solid #262626;
}

p, li {
  font-size: 0.9rem;
  color: var(--color-text-dim);
}

.dashboard {
    max-width: 1200px;
    margin: 0 auto;
}

.main-content {
  display: flex;
  gap: 20px;
}

/* --- Sidebar --- */
.sidebar {
  flex: 0 0 300px;
  padding: 0;
}

.card{
  background-color: #383838;
  padding: 20;
  border-radius: 8px;
}

/* --- Dashboard --- */
.dashboard-main{
  flex-grow: 1;
}

.risk-score {
  background-color: #383838;
  padding: var(--padding-base);
  border-radius: 8px;
  margin-bottom: var(--padding-base);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Map */

#map {
  height: 300px;
  width: 300px;
}

.probabilities{
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding-base);
}

.probability-card{
  background-color: #383838;
  border-radius: 8px;
  padding: var(--padding-base);
  flex: 1 1 calc(33.33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333% - 20px);
  min-width: 200px;
  position: relative;
  overflow: hidden;
}


