* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

:root {
  --color-text-light: #f0f0f0;
  --color-text-dim: #a0a0a0;

  --gray: #1A1D23;
  --light-gray: #282C34;
  --info: #335DA3;
  --yellow: #ebe72a;
  --white: #DADBDD;

  --green: #24AE5A;
  --orange: #f2994a;
  --red: #D45455;

  --padding-base: 20px;

  --indicatorv-width: 8px;
  --indicatorv-stickout:4px;

  --indicatorh-width: 70px;
  --indicatorh-height: 25px;
  --indicatorh-stickout:4px;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--gray);
  color: var(--white);
  margin: 0;
  padding: 20px;
}

header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-text-dim);
}

h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

h2{
  color: #f0f0f0;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

p, li {
  font-size: 0.9rem;
  color: var(--color-text-dim);
}

.dashboard {
    max-width: 1200px;
    margin: 0 auto;
}

.main-content {
  display: flex;
  gap: 20px;
}

/* --- Sidebar --- */
.sidebar {
  flex: 0 0 300px;
  padding: 0;
}

.card{
  background-color: var(--light-gray);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px solid #64666A;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem 0;
}

form input {
  background-color: var(--gray);
  color: var(--color-text-dim);
  border: 1px solid var(--color-text-dim);
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  font-family: 'Arial', sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    opacity: 1;
    cursor: pointer;
}


form span {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

/* --- Dashboard --- */
.dashboard-main{
  flex-grow: 1;
}

.risk-score {
  background-color: #383838;
  padding: var(--padding-base);
  border-radius: 8px;
  margin-bottom: var(--padding-base);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Map */

#map {
  height: 300px;
  width: 300px;
}

.probabilities{
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding-base);
}

.probability-card{
  background-color: var(--light-gray);
  border-radius: 8px;
  border: 1px solid #64666A;
  padding: var(--padding-base);
  flex: 1 1 calc(33.33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333% - 20px);
  min-width: 200px;
  position: relative;
  overflow: visible;
  min-height: 200px;
}

.probability-card::before{

  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(0px - var(--indicatorv-stickout));
  width: var(--indicatorv-width);
  height: 90%;  
  border-radius: 2px;
  background-color: var(--green);
  z-index: 1;
}

.probability-card::after {
  content: 'STATUS';
  align-content: center;
  position: absolute;
  width: var(--indicatorh-width);
  height: var(--indicatorh-height);
  top: 0; 
  right: calc(0px - var(--indicatorh-stickout)); 
  transform: translateY(10px); 
  background-color: var(--orange);
  border-radius: 2px;
  z-index: 1;
}


