<!DOCTYPE html>
<html>
<head>
    <title>WeatherWisdom</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style.css" rel="stylesheet" type="text/css" media="all">
    <meta name="description" content="NASA SpaceApps '25 Project by ExamReady! :D">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://kit.fontawesome.com/d24d18c78a.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="clouds">
        <!--In JavaScript-->
    </div>

    <div class="dashboard">
        <header>
            <span>
                <h1>WeatherWisdom</h1>
                <p>Plan your outdoor events with confidence</p>
            </span>
           <button onclick="toggleTheme()">
                <i id="theme-icon" class="fa-solid fa-sun"></i>
            </button>
        </header>

        <div class="main-content">
            <div class="sidebar">
                <section class="card" id="eventDetails">
                    <h2>Event Details</h2>
                    <form action="#" method="get">
                        <span>
                            <label>Date</label>
                            <input type="date" id="eventDate" name="date" required>
                        </span>
                        <span>
                            <label>Time</label>
                            <input type="time" id="appt" name="appt" required>
                        </span>
                    </form>

                    <div class="map-container">
                       <label>Select Your Location</label>
                        <form action="#" method="get">
                            <input type="text" id="location-search" placeholder="Search location..." onkeypress="handleSearchEnter(event)" >
                        </form>
                        <div id="map"></div>
                    </div>

                    <button id="update-button" onclick="updateEverything()">Go!</button>
                </section>

                

                <section class="card">
                    <h2><i class="fa-solid fa-lightbulb" style="color: var(--blue)"></i> Recommendations</h2>
                    <ul>
                        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus voluptas sint ullam aliquid numquam natus, ipsum eaque</li>
                        <li>reprehenderit dolorum tenetur ut animi sit aut nobis dolor minima, quae consequuntur ipsam!</li>
                        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus voluptas sint ullam aliquid numquam natus, ipsum eaque</li>
                        <li>reprehenderit dolorum tenetur ut animi sit aut nobis dolor minima, quae consequuntur ipsam!</li>
                    </ul>
                </section>
            </div>

            <div class="dashboard-main">
                <div class="risk-score">
                    <p id="location-display">Lat: 53.3489, Lng: -6.2430 - <span id="date-display">Day, Date</span> - <span id="time-display">XX:XX</span></p>               
                    <h2>Moderate Risk</h2>
                    <p>Some adverse conditions possible, plan accordingly.</p>
                    <p class="total-score"><span>45</span> /100</p>
                    <p>Overall Risk Score</p>
                </div>

                <div class="weather-details">
                    <section class="probability-card">
                        <span>
                            <i class="fa-solid fa-temperature-full"></i>
                            <h4>Temperature</h4>
                        </span>
                        <span class="percentage">
                            <div id="temperatureCelsius"></div>°C /
                            <div id="temperatureFahrenheit"></div>°F
                        </span>
                        <span class="label"></span>
                    </section>
                    
                    <section class="probability-card">
                        <span>
                            <i class="fa-solid fa-wind"></i>
                            <h4>Wind Speed</h4>
                        </span>
                        <span class="percentage">
                            <span id="windSpeed">0</span> km/h
                        </span>
                        <span class="label"></span>
                    </section>

                    <section class="probability-card">
                        <span>
                            <i class="fa-solid fa-droplet"></i>
                            <h4>Humidity</h4>
                        </span>
                        <span class="percentage">
                            <span id="humidity">0</span>%
                        </span>
                        <span class="label"></span>
                    </section>

                    <section class="probability-card">
                        <span>
                            <i class="fa-solid fa-droplet"></i>
                            <h4>Rain</h4>
                        </span>
                        <span class="percentage">
                            <span id="rainfall">0</span> mm
                        </span>
                        <span class="label"></span>
                    </section>

                    <section class="probability-card">
                        <span>
                            <i class="fa-solid fa-tornado"></i>
                            <h4>Atmospheric Pressure</h4>
                        </span>
                        <span class="percentage">
                            <span id="atmosphericPressure"></span> hPa
                        </span>
                        <span class="label"></span>
                    </section>

                    <section class="probability-card">
                        <span>
                            <i class="fa-solid fa-tornado"></i>
                            <h4>Atmospheric Pressure</h4>
                        </span>
                        <span class="percentage">
                            <span id="atmosphericPressure"></span> hPa
                        </span>
                        <span class="label"></span>
                    </section>
                </div>

                <div class="event-probabilities">
                    <section class="probability-card">
                        <span>
                            <i class="fa-solid fa-tornado"></i>
                            <h4>Very Hot</h4>
                        </span>
                        <span class="percentage">
                            <span id="atmosphericPressure"></span>%
                        </span>
                        <span class="label"></span>
                    </section>

                    <section class="probability-card">
                        <span>
                            <div class="probability-icon-div">
                                <i class="fa-solid fa-snowflake"></i>
                            </div>
                            <h4>Very Cold</h4>
                        </span>
                        <span class="percentage">
                            <span id="atmosphericPressure"></span>%
                        </span>
                        <span class="label"></span>
                    </section>

                    <section class="probability-card">
                        <span>
                            <div class="probability-icon-div">
                                <i class="fa-solid fa-wind"></i>
                            </div>
                            <h4>Very Windy</h4>
                        </span>
                        <span class="percentage">
                            <span id="atmosphericPressure"></span>%
                        </span>
                        <span class="label"></span>
                    </section>

                    <section class="probability-card">
                        <span>
                            <div class="probability-icon-div">
                                <i class="fa-solid fa-umbrella"></i>
                            </div>
                            <h4>Very Wet</h4>
                        </span>
                        <span class="percentage">
                            <span id="atmosphericPressure"></span>%
                        </span>
                        <span class="label"></span>
                    </section>

                    <section class="probability-card">
                        <span>
                            <div class="probability-icon-div">
                                <i class="fa-solid fa-tornado"></i>
                            </div>
                            <h4>Very Uncomfortable</h4>
                        </span>
                        <span class="percentage">
                            <span id="atmosphericPressure"></span>%
                        </span>
                        <span class="label"></span>
                    </section>
                </div>

                <div class="charts">
                    <h2>Weather Patterns</h2>
                    <section>
                        <!--TODO: charts showing previous data-->
                    </section>
                </div>
            </div>
        </div>

    <footer>
        <p>ExamReady - Keith Gamier, Asher Malik, Billy Chan, Matas Roda, Vinzel Ferrer | For <a href="https://www.spaceappschallenge.org/">NASA SpaceApps</a></p>
    </footer>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>