<!DOCTYPE html>
<html>
<head>
    <title>Parade Shader</title>
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <div class="dashboard">
        <header>
            <p>Slogam here idk</p>
        </header>

        <div class="main-content">
            <div class="sidebar">
                <section class="card">
                    <h2>box 1</h2>
                    <p>box box box, STAY OUT STAY OUT STAY OUT</p>
                </section>

                <section class="card">
                    <h2>box 2</h2>
                    <p>sorry that was Perez... Verstappen.. plus 20</p>
                </section>

                <section class="card">
                    <h2>map</h2>
                    <p>My seat, it is FULL of water. Must be the water</p>
                </section>
            <div>
        </div>
</body>
</html>